{% extends 'base.html.twig' %}

{% block title %}Beebop - Modifier votre ruche
{% endblock %}

{% block body %}
	<main>

		<header class="header">
			<h1 class="header__name">Beebop</h1>
		</header>
		<h2 class="subtitle">Modifier votre ruche</h2>

		{{ form_start(form) }}

		<div class="form__wrapper f-column">
			{{ form_label( form.name) }}
			{{ form_errors( form.name ) }}
			{{ form_widget( form.name,  { 'attr' : { 'min': 3, 'max': 100 } } ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.race ) }}
			{{ form_errors( form.race ) }}
			{{ form_widget( form.race,  { 'attr' : { 'min': 3, 'max': 255 } } ) }}
		</div>

		{{ form_widget(form) }}
		<div class="form__login f-between">
			<a href="{{ path('app_beehive_show', {'id' : beehive.id}) }}" class="form__link">Retour à votre ruche</a>
			<button type="submit" class="cta">Valider</button>
		</div>
		{{ form_end(form) }}
	</main>
	<footer>
		<nav>
			<a href="{{ path('app_apiary_index') }}">
				<div class="nav_item nav__beehive"></div>
			</a>
			<a href="{{ path('app_product_index', {'id': idBeekeeper}) }}">
				<div class="nav_item nav__prod"></div>
			</a>
			<a href="{{ path('app_beekeeper_show', {'id': idBeekeeper} ) }}">
				<div class="nav_item nav__account"></div>
			</a>
		</nav>
	</footer>
{% endblock %}
