{% extends 'base.html.twig' %}

{% block title %}Beepop - Détail de votre rucher
{% endblock %}

{% block body %}

	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<main class="beehive">
		<h2 class="beehive__title subtitle">Les ruches du rucher :
			{{ apiary.name }}</h2>

		<a href="{{ path('app_beehive_new', {'id': apiary.id}) }}" class="list__add cta more">Nouvelle ruche</a>

		<ul class="list__container f-column">
			{% for beehive in beehives %}
				<li class="list__item__wrapper f-between">
					<div class="list__item f-between">
						<span>{{beehive.name}}</span>
						<a href="{{ path('app_beehive_show', {'id': beehive.id}) }}" class="beehive__infos">Voir plus</a>
					</div>
					<a href="{{ path('app_task_index', {'id': beehive.id}) }}" class="cta beehive__tasks"><img src="./../assets/img/ico/add_task.svg"></a>
				</li>
			{% endfor %}
		</ul>

		<a href="{{ path('app_apiary_index') }}" class="back f-center">retour</a>

	</main>
{% endblock %}
