{% extends 'base.html.twig' %}

{% block title %}Beebop - Votre ruche
{% endblock %}

{% block body %}
		<a href="{{ path('app_beehive_by_apiary_show', {'id' : apiary.id}) }}">Retour aux ruches</a>
	<section class="beehive">
	<div>
		<h1 class="beehive__title">{{beehive.name}}</h1>
		<div class="beehive__change">
		<a href="{{ path('app_beehive_delete', {'id': beehive.id}) }}">Supprimer</a>
		<a href="{{ path('app_beehive_edit', {'id': beehive.id}) }}">Modifier</a>
		</div>
		</div>
		<div class="beehive__apiary">
		<p>
		Du rucher : {{apiary.name}} situé au : {{apiary.localisation}}, {{apiary.zipCode}}
		</p>
		</div>
        <div class="beehive__race">
        <p>La race des abeilles est : {{beehive.race}}</p>
        </div>
		<div class="beehive__product">
		<a href="">Voir vos récoltes</a>
		</div>
		<div class="beehive__history">
		<span>Historique</span>
		<ul class="beehive__historyItem">
		<li class="beehive__historyItem">Récolte : 14/02</li>
		<li class="beehive__historyItem">Récolte : 14/02</li>
		<li class="beehive__historyItem">Nettoyage : 08/02</li>
		</ul>
		</div>

		

	</section>
{% endblock %}
