{% extends 'base.html.twig' %}

{% block title %}Beebop - Votre ruche
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<a href="{{ path('app_beehive_by_apiary_show', {'id' : apiary.id}) }}" class="back">Retour</a>
	<main class="beehive f-column">
		<div class="f-between">
			<h2 class="subtitle">{{beehive.name}}</h2>
			<div class="f-between" style='gap: 15px;'>
				<a href="{{ path('app_beehive_delete', {'id': beehive.id}) }}" class="cta warning">Supprimer</a>
				<a href="{{ path('app_beehive_edit', {'id': beehive.id}) }}" class="cta">Modifier</a>
			</div>
		</div>
		<div class='beehive__container glass'>
			<div class="beehive__apiary">
				<p>
					Situé au :
					{{apiary.localisation}},
					{{apiary.zipCode}}
				</p>
			</div>
			<br/>
			<div class="beehive__race">
				<p>La race des abeilles est :
					{{beehive.race}}</p>
			</div>
		</div>
		<div class="beehive__product">
			<a href="">Voir vos récoltes</a>
		</div>
		<div class="beehive__history f-column glass">
			<h2>Historique</h2>
			<ul class="beehive__historyWrapper f-column">
				{% for task in tasks %}
					<li class="beehive__historyItem">{{task.type}}
						:
						{{task.doAt|date("d/m/Y")}}</li>
				{% endfor %}
			</ul>
		</div>


	</main>
{% endblock %}
