{% extends 'base.html.twig' %}

{% block title %}Beebop - Vos ruchers
{% endblock %}

{% block body %}
	<section class="apiaries">
		<h1 class="apiaries__title">Vos ruchers</h1>

		<div class="apiaries__btn">
			<a href="{{ path('app_apiary_new') }}">Ajouter un nouveau rucher</a>
		</div>


		<div class="apiaries__wrapper">
			<ul class="apiaries__list">
				{% for apiary in apiaries %}
					<li>
						<span class="apiaries__name">{{ apiary.name }}</span>
						<p class="apiaries__address">{{ apiary.localisation }},
							{{ apiary.zipCode }}</p>
						<p class="apiaries__beehives">{{  apiary.beehives | length }}</p>

						<a href="{{ path('app_apiary_delete', {'id': apiary.id}) }}" class="apiries__link">Supprimer</a>
						<a href="{{ path('app_apiary_edit', {'id': apiary.id}) }}">Modifier</a>
						<a href="{{ path('app_beehive_by_apiary_show', {'id': apiary.id}) }}">Voir plus</a>
					</li>
				{% else %}

					<p class="apiaries__empty">Vous n'avez aucun ruchers !</p>

				{% endfor %}


			</ul>
		</div>

	</section>
{% endblock %}
