{% extends 'base.html.twig' %}

{% block title %}Beebop - Vos ruchers
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<main class="apiaries">
		<h2 class="subtitle">Vos ruchers</h2>

		<div class="list__add cta more">
			<a href="{{ path('app_apiary_new') }}">Ajouter un nouveau rucher</a>
		</div>


		<div class="apiaries__wrapper">
			<div class="list__container f-column">
				{% for apiary in apiaries %}
					<div class="list__item__component f-column">
						<div class="list__item f-column">
							<span class="list__item__title">{{ apiary.name }}</span>
							<p class="list__item__info list__loc">{{ apiary.localisation }},
								{{ apiary.zipCode }}</p>
							<p class="list__item__info list__quantity">{{  apiary.beehives | length }}</p>

						</div>
						<div class="list__item list__item__menu f-column close">
							<a href="{{ path('app_apiary_delete', {'id': apiary.id}) }}" class="apiries__link">Supprimer</a>
							<a href="{{ path('app_apiary_edit', {'id': apiary.id}) }}">Modifier</a>
							<a href="{{ path('app_beehive_by_apiary_show', {'id': apiary.id}) }}">Voir plus</a>
						</div>
					</div>
				{% else %}

					<p class="apiaries__empty">Vous n'avez aucun ruchers !</p>

				{% endfor %}


			</div>
		</div>

	</main>
{% endblock %}
