{% extends 'base.html.twig' %}

{% block title %}Beebop - Ajouter un rucher
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<main>
		<h2 class="subtitle">
			Ajouter un rucher
		</h2>
		{{ form_start(form, {'attr': {'class': 'glass'}}) }}

		<div class="form__wrapper f-column">
			{{ form_label( form.name ) }}
			{{ form_errors( form.name ) }}
			{{ form_widget( form.name,  { 'attr' : { 'min': 3, 'max': 100 } } ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.localisation ) }}
			{{ form_errors( form.localisation ) }}
			{{ form_widget( form.localisation,  { 'attr' : { 'min': 3, 'max': 255 } } ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.zipCode ) }}
			{{ form_errors( form.zipCode ) }}
			{{ form_widget( form.zipCode ) }}
		</div>

		{{ form_widget(form) }}
		<div class="form__login f-between">
			<a href="{{ path('app_apiary_index') }}" class="form__link">Retour à vos ruchers</a>
			<button type="submit" class="cta">Valider</button>
		</div>
		{{ form_end(form) }}</main>
	<footer>
		<nav>
			<a href="{{ path('app_apiary_index') }}">
				<div class="nav_item nav__beehive"></div>
			</a>
			<a href="{{ path('app_product_index', {'id': idBeekeeper}) }}">
				<div class="nav_item nav__prod"></div>
			</a>
			<a href="{{ path('app_beekeeper_show', {'id': idBeekeeper} ) }}">
				<div class="nav_item nav__account"></div>
			</a>
		</nav>
	</footer>
{% endblock %}
