<ul clas="adminBeekeeper_beekeepers">
    <li>{{beekeeper.lastName}} {{beekeeper.firstName}}</li>
    <li>{{beekeeper.mail}}</li>
    <li>{{beekeeper.apiaries | length}}</li>
    {# just for dev bcs it's easier to see, to remove in prod #}
    <li>{{beekeeper.verified ? 'validé' : 'en attente de validation' }}</li>
</ul>