{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin
{% endblock %}

{% block body %}

	<a href="{{ path('admin_validation') }}">Valider les apiculteurs</a>
	{# <a href="{{ path('appp_beekeeper_add') }}">Ajouter un apiculteur</a>
 #}
	<div class="container p-4">
		<a href="{{ path('app_logout') }}" class="btn btn-warning text-white fw-bold mb-3">Se deconnecter</a>
		<section class="admin">
			<ul clas="admin_beekeepers">
		{% for beekeeper in beekeepers %}
				<li>{{beekeeper.id}} - {{beekeeper.login}},
				{{beekeeper.mail}}, nombre de ruchers :
				{{beekeeper.apiaries| length}} 
				<a href="{{path('admin_beekeeper_show', {'id': beekeeper.id }) }}">Voir plus</a>
				</li>
		{% endfor %}
			</ul>
		</section>
	</div>
{% endblock %}
