{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin - Beekeeper
{% endblock %}

{% block body %}

	<div class="container p-4">
		<a href="{{ path('admin_dashboard') }}" class="btn btn-warning text-white fw-bold mb-3">Retour à la liste</a>
		<section class="admin">
			<ul clas="admin_beekeepers">
				<li>{{beekeeper.id}}</li>
				<li>{{beekeeper.login}}</li>
				<li>{{beekeeper.lastName}}</li>
				<li>{{beekeeper.firstName}}</li>
				<li>{{beekeeper.mail}}</li>
				<li>{{beekeeper.apiaries | length}}</li>
				<li>{{beekeeper.verified ? 'validé' : 'en attente de validation' }}</li>
			</ul>
		</section>
	</div>
{% endblock %}