{% extends 'base.html.twig' %}

{% block title %}Beebop - Créer une nouvelle tâche
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle tâche</h1>

	{{ form_start(form) }}

	<div class="form__wrapper">
		{{ form_label( form.type ) }}
		{{ form_errors( form.type ) }}
		{{ form_widget( form.type,  { 'attr' : { 'min': 3, 'max': 100 } } ) }}
	</div>

	<div class="form__wrapper">
		{{ form_label( form.description ) }}
		{{ form_errors( form.description ) }}
		{{ form_widget( form.description ) }}
	</div>


	{{ form_widget(form) }}
	<div
		class="form__login">

		{# <a href="{{ path('app_beehive_by_apiary_show', {'id' : idApiary}) }}" class="form__link">Retour au rucher</a> #}
		<button type="submit" class="form__btn">Valider</button>
	</div>
	{{ form_end(form) }}

	{# <a href="{{ path('app_task_index') }}">back to list</a> #}
{% endblock %}
