{% extends 'base.html.twig' %}

{% block title %}Beebop - Créer une nouvelle tâche
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<a href="{{ path('app_task_index', {'id' : idBeehive}) }}" class="back">Retour</a>
	<main>
		<h2 class="subtitle">Créer une nouvelle tâche</h2>

		{{ form_start(form) }}

		<div class="form__wrapper f-column">
			{{ form_label( form.type ) }}
			{{ form_errors( form.type ) }}
			{{ form_widget( form.type,  { 'attr' : { 'min': 3, 'max': 100 } } ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.description ) }}
			{{ form_errors( form.description ) }}
			{{ form_widget( form.description ) }}
		</div>


		{{ form_widget(form) }}
		<div class="form__login f-column">


			<button type="submit" class="cta">Valider</button>
		</div>
		{{ form_end(form) }}
	</main>

{% endblock %}
