{% extends 'base.html.twig' %}

{% block title %}Beebop - Modifier votre production{% endblock %}

{% block body %}
    <h1>Modifier la production</h1>

	{{ form_start(form) }}

	<div class="form__wrapper">
		{{ form_label( form.type ) }}
		{{ form_errors( form.type ) }}
		{{ form_widget( form.type ) }}
	</div>

	<div class="form__wrapper">
		{{ form_label( form.quantity ) }}
		{{ form_errors( form.quantity ) }}
		{{ form_widget( form.quantity ) }}
	</div>

	<div class="form__wrapper">
		{{ form_label( form.date ) }}
		{{ form_errors( form.date ) }}
		{{ form_widget( form.date ) }}
	</div>


	{{ form_widget(form) }}
    <a href="{{ path('app_product_index', {'id': idBeehive } ) }}">Retour aux productions</a>
    <button type="submit" class="form__btn" formnovalidate>Modifier</button>
    {#<a href="{{ path('app_product_delete', {'id': product.id } ) }}">Supprimer la production</a>#}
{% endblock %}
