{% extends 'base.html.twig' %}

{% block title %}Beebop - Modifier votre production
{% endblock %}

{% block body %}

	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<a href="{{ path('app_product_index', {'id': idBeehive } ) }}" class="back">Retour</a>
	<main>
		<h2 class="subtitle">Modifier la production</h2>

		{{ form_start(form) }}

		<div class="form__wrapper f-column">
			{{ form_label( form.type ) }}
			{{ form_errors( form.type ) }}
			{{ form_widget( form.type ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.date ) }}
			{{ form_errors( form.date ) }}
			{{ form_widget( form.date ) }}
		</div>

		<div class="form__wrapper f-column">
			{{ form_label( form.quantity ) }}
			{{ form_errors( form.quantity ) }}
			{{ form_widget( form.quantity ) }}
		</div>


		{{ form_widget(form) }}
		<button type="submit" class="cta">Modifier</button>
	</main>
	{#<a href="{{ path('app_product_delete', {'id': product.id } ) }}">Supprimer la production</a>#}
{% endblock %}
