{% extends 'base.html.twig' %}

{% block title %}Beebop - Votre production
{% endblock %}

{% block body %}
	<h1>Votre production</h1>
	<a href="{{ path('app_beehive_show', {'id' : beehive.id }) }}">Retour à la ruche {{ beehive.name }}</a>

	{% for product in products %}

		<p>Type de production :
			{{ product.type }}
		</p>
		<span>{{ product.date ? product.date|date("d/m/Y") : '' }}</span>
		<p>Quantité :
			{{ product.quantity|number_format(2, ' ', ',') }} kg</p>
	</div>
	<a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
	<a href="{{ path('app_product_delete', {'id': product.id}) }}">Supprimer</a>
</div>{% else %}

<p>Pas de production !</p>{% endfor %}<div>
<a href="{{ path('app_product_new', {'id': beehive.id}) }}">Ajouter une nouvelle production</a></div>{% endblock %}
