{% extends 'base.html.twig' %}

{% block title %}Beebop - Nouvelle production
{% endblock %}

{% block body %}
	<h1>Enregistrer une nouvelle production</h1>

	{{ form_start(form) }}

	<div class="form__wrapper">
		{{ form_label( form.type ) }}
		{{ form_errors( form.type ) }}
		{{ form_widget( form.type ) }}
	</div>
	
	<div class="form__wrapper">
		{{ form_label( form.quantity ) }}
		{{ form_errors( form.quantity ) }}
		{{ form_widget( form.quantity ) }}
	</div>


	{{ form_widget(form) }}
	<div class="form__login">

		<a href="{{ path('app_product_index', {'id' : idBeehive}) }}" class="form__link">Retour aux productions</a>
		<button type="submit" class="form__btn" formnovalidate>Valider</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
