{% extends 'base.html.twig' %}

{% block title %}Beebop - Votre production
{% endblock %}

{% block body %}
	<header class="header">
		<h1 class="header__name">Beebop</h1>
	</header>
	<a href="{{ path('app_product_by_apiary_index', {'id':apiary}) }}" class="back">Retour</a>
	<main class="apiaries">
		<h2 class="subtitle">Suivi de production</h2>


		<div class="apiaries__wrapper">

			<a href="{{ path('app_product_new', {'id':beehive.id}) }}" class="cta list__add">
				Ajouter une production</a>
			<div class="list__container f-column">
				{% for product in products %}
					<div class="list__item">
						<ul>
							<li>{{product.type}}</li>
							<li>{{product.quantity}}</li>
							<li>{{product.date|date('d/m/Y')}}</li>
						</ul>
						<a href="{{path('app_product_edit', {'id':product.id})}}">Modifier</a>
						<a href="{{path('app_product_delete', {'id':product.id})}}">Supprimer</a>
					</div>
				{% else %}

					<p class="apiaries__empty">Vous n'avez aucune productions  !</p>

				{% endfor %}


			</div>
		</div>

	</main>
{% endblock %}
