{% extends 'base.html.twig' %}

{% block title %}Beebop - Votre compte{% endblock %}

{% block body %}
    <h1>Votre compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Votre nom :</th>
                <td>{{ beekeeper.lastName }}</td>
            </tr>
            <tr>
                <th>Votre prénom :</th>
                <td>{{ beekeeper.firstName }}</td>
            </tr>
            <tr>
                <th>Identifiant : </th>
                <td>{{ beekeeper.login }}</td>
            </tr>
            {# <tr>
                <th>Mot de passe :</th>
                <td>{{ beekeeper.password }}</td>
            </tr> #}
            <tr>
                <th>Adresse mail : </th>
                <td>{{ beekeeper.mail }}</td>
            </tr>
            <tr>
                <th>Statut :</th>
                <td>{{ beekeeper.verified ? 'Validé' : 'En attente/refusé' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logout') }}">Se déconnecter</a>

    <a href="{{ path('app_beekeeper_index') }}">Retour</a>

    <a href="{{ path('app_beekeeper_edit', {'id': beekeeper.id}) }}">Modifier</a>

    {{ include('beekeeper/_delete_form.html.twig') }}
{% endblock %}
